.group:hover .group-hover\:inline {
    animation: fadeIn .3s;
    display: inline;
}

.group:hover .group-hover\:visible {
    animation: fadeIn .3s;
    visibility: visible;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
